form {
    padding: 15px;
    width: 25%;

    .error {
        color: red;
    }
}
.formGroup {
    display: flex;
    flex-direction: column;

    .check {
        width:20%
    }

    

    input {
        width: 40%;
        margin-bottom: 10px;
    }
}

.delivery2{
    display: flex;
    flex-direction: column;
   
    
    input {
        width: 400px;
        height: 70px;
    }
}

.butt1{
    margin-right: 10px;

}